/* ^========Global Style========= */
.footer-section {
  background-color: #0a0a0a;
  color: #737373;
}

/* ^Shadow style */
.shadow1 {
  position: absolute;
  top: 10%;
  left: 25%;
  width: 288px;
  height: 288px;
  background-color: #211209;
  border-radius: 50%;
  filter: blur(70px);
}

.shadow2 {
  position: absolute;
  bottom: 10%;
  right: 25%;
  width: 384px;
  height: 384px;
  background-color: rgba(253, 224, 71, 0.05);
  border-radius: 50%;
  filter: blur(70px);
  animation-delay: -2s;
  z-index: 0;
}

.footer-section .container {
  position: relative;
  z-index: 1;
}

/* Titles */
.footer-title {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  padding-inline-start: 38px;
}

.footer-title::before {
  content: '';
  position: absolute;
  inset-inline-start: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 2px;
  background: #ff6200;
  background: linear-gradient(90deg, rgba(255, 98, 0, 1) 49%, rgba(247, 79, 0, 1) 64%);
}

/* Links */
.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: #737373;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 14px;
  font-weight: 400;
}

.footer-links a i {
  font-size: 12px;
  color: #ff7a00;
  opacity: 0;
  transform: translateX(6px);
  transition: all 0.3s ease;
}

.footer-links a:hover {
  color: #ff7a00;
  transform: translateX(-6px);
}

.footer-links a:hover i {
  opacity: 1;
  transform: translateX(0);
}

/* ^=========Brand=========== */
.brand .logo {
  width: 44px;
  height: 44px;
  background: #ff6200;
  background: linear-gradient(90deg, rgba(255, 98, 0, 1) 22%, rgba(247, 79, 0, 1) 79%);
  box-shadow: 0 0 15px rgba(255, 98, 0, 0.35);
  color: #fff;
  border-radius: 12px;
  font-weight: 700;
  font-size: 20px;
}

.brand h4 {
  color: #fff;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

/* Text */
.footer-text {
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
}

/* Social */
.social a {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid #1f1f1f;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  text-decoration: none;
}

/* hover */
.social a:hover {
  background: #fd5b00;
  color: #fff;
  scale: 1.1;
}

/* ^==========Form=========== */
.footer-input {
  background: #161616;
  border: 1px solid #222;
  color: #fff;
  padding: 12px;
  border-radius: 12px;
  font-size: 14px;
}
.footer-input:focus {
  border-color: #ff6600;
  outline: none;
  box-shadow: 0 0 8px rgba(255, 102, 0, 0.5);
}
.footer-input::placeholder {
  color: #737373;
}

.footer-btn {
  background: linear-gradient(90deg, #ff7a00, #ff5400);
  color: #fff;
  border-radius: 999px;
  padding: 14px;
  border: none;
  font-weight: 600;
  transition: all 0.3s;
}

.footer-btn:hover {
  transform: translateY(-5px);
}

/* ^==========Bottom=========== */
.footer-bottom {
  font-size: 14px;
  font-weight: 400;

  border-top: 1px solid #1f1f1f;
  padding-top: 20px;
}

.footer-bottom a {
  color: #737373;
  text-decoration: none;
  margin-inline-end: 16px;
}

.footer-bottom a:hover {
  color: #ff7a00;
}

.footer-bottom span {
  color: #ff7a00;
}
