/* ^===== Navbar ===== */
.myNav {
  background-color: var(--bg-color) !important;
  padding-block: 0.9375rem;
}

/* ^===== Logo ===== */
.logo-title .title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: var(--text-white);
}
.logo-title .subtitle {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  color: var(--primary-color);
}
/* ^===== Logo Image ===== */
.logo-img {
  width: 2.625rem;
  height: 2.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  transition: all 0.5s;
}

/* Hover effect */
.logo:hover .logo-img img {
  scale: 1.05;
}

/*^ ===== Nav Links ===== */
.myLinks ul {
  border: 0.0625rem solid #242424;
  border-radius: 1.5625rem;
  padding: 0.375rem;
}
.myLinks ul li a {
  color: #8c8c8c;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  padding: 0.625rem 1.25rem;
}

.myLinks ul li a:hover {
  color: white !important;
}
/* Active link */
.nav-link.active {
  background: #ff6800;
  background: linear-gradient(
    90deg,
    rgba(255, 104, 0, 1) 8%,
    rgba(253, 91, 0, 1) 46%,
    rgba(246, 76, 0, 1) 94%
  );

  color: white !important;
  border-radius: 1.5625rem;
}

/*^ ===== Search + Button ===== */
.search-icon {
  color: #8c8c8c;
  padding: 0.5625rem 0.625rem;
  border-radius: 0.625rem;
  font-size: 1rem;
  font-weight: 400;
  transition: color 0.3s;
  border: 0.0625rem solid var(--bg-color);
}
.search-icon:hover {
  color: #ff6800;
  border: 0.0625rem solid #1f1f1f;
}

.startBtn {
  background: #f76f15;
  background: linear-gradient(
    90deg,
    rgba(247, 111, 21, 1) 8%,
    rgba(243, 104, 18, 1) 46%,
    rgba(237, 93, 14, 1) 94%
  );

  color: white !important;
  padding: 0.875rem 2rem;
  border-radius: 2.1875rem;
  font-size: 0.875rem;
  font-weight: 600;
  transition: all 0.3s;
}

.startBtn:hover {
  transform: translateY(-0.1875rem);
}

/* !============Media Queries============ */
@media (max-width: 992px) {
  .myNav {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }

  .myNav .buttons,
  .myNav .startBtn,
  .myNav .search-icon {
    display: none !important;
  }

  .nav-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .myNav {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }

  .myNav .buttons,
  .myNav .startBtn,
  .myNav .search-icon {
    display: none !important;
  }

  .nav-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .logo-img {
    width: 2rem;
    height: 2rem;
  }

  .logo-img img {
    width: 2rem;
    height: 2rem;
  }

  .logo-title .title {
    font-size: 1rem;
  }

  .logo-title .subtitle {
    font-size: 0.625rem;
  }
}
