.grayText {
  color: #737373;
}

/* Badge Style: */
.badge {
  background-color: #2f1b0a;
  color: #d4d4d4;
  padding: 7px 17px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border: 1px solid rgba(255, 137, 4, 0.4);
  border-radius: 20px;
  width: fit-content;
  color: #ff6900;
}

.badge .icon {
  color: #ff6900;
  font-size: 7px;
  animation: pulse 2s infinite;
  position: relative;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

/* ^Background Style */
.hero-bg {
  position: relative;
  background-color: #0b0b0b;
  /* overflow: hidden; */
  text-align: center;
}

.hero-bg::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
  background-size: 60px 60px;
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 3;
  color: white;
  max-width: 640px;
  text-align: center;
  margin-top: 110px;
}

/* ^Shadow style */
.shadow1 {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 300px;
  height: 300px;
  background-color: #211209;
  border-radius: 50%;
  filter: blur(50px);
}

.shadow2 {
  position: absolute;
  bottom: 10%;
  right: 30%;
  width: 384px;
  height: 384px;
  background-color: rgba(253, 224, 71, 0.05);
  border-radius: 50%;
  filter: blur(50px);
  animation-delay: -2s;
}

/* ^ Content Style */
.hero-content h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

.hero-content h1 .coloredText {
  background: #f9911b;
  background: linear-gradient(
    90deg,
    rgba(249, 145, 27, 1) 8%,
    rgba(250, 152, 29, 1) 46%,
    rgba(250, 168, 32, 1) 94%
  );
  background-clip: text;
  color: transparent;
}

.hero-content .numOfArticles {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.latestArticles {
  background: #0a0a0a;
}

/* Search: */
.search-wrapper {
  position: relative;
  width: 300px;
}

.search {
  background: #161616;
  border: 1px solid #222;
  color: #fff;
  padding: 12px;
  border-radius: 12px;
  font-size: 14px;
  padding-left: 40px;
}
.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #737373;
  font-size: 16px;
  pointer-events: none;
}
.search:focus {
  border-color: #ff6600;
  outline: none;
  box-shadow: 0 0 8px rgba(255, 102, 0, 0.5);
}
.search::placeholder {
  color: #737373;
  font-size: 16px;
}

/* Filtration */
.filterBtns .btn {
  background-color: #161616;
  color: var(--text-color);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  border: 1px solid #1f1f1f;
  padding: 9px 14px;
  border-radius: 12px;
  transition: all 0.3s;
}

.filterBtns .btn.active {
  background: #ff6600;
  background: linear-gradient(90deg, rgba(255, 102, 0, 1) 39%, rgba(246, 75, 0, 1) 73%);
  color: white;
}

.filterBtns .btn:hover {
  border-color: rgba(255, 137, 4, 0.4);
}

/* line */
.top {
  border-bottom: 1px solid #1f1f1f;
}

/* num of Articles */
.header .numOfArticles {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color);
}

.header .numOfArticles span {
  color: white;
}
.header .numOfArticles .highlightedText {
  color: #f97200;
  font-weight: 700;
  font-size: 16px;
}

/* toggle icons */
.view-toggle {
  background-color: #161616;
  padding: 7px;
  border-radius: 10px;
  color: var(--text-color);
  font-size: 18px;
  border: 1px solid #1f1f1f;
}

.view-toggle div {
  padding: 7px;
  border-radius: 5px;
  transition: all 0.3s;
}
.view-toggle div:hover {
  color: white;
}
.view-toggle div.active {
  background: #ff6600;
  background: linear-gradient(90deg, rgba(255, 102, 0, 1) 39%, rgba(246, 75, 0, 1) 73%);
  color: white;
}

/* ~ Latest Articles Content */
.latestArticle-card {
  background-color: #161616;
  border: 1px solid #1f1f1f;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.latestArticle-card .article-type {
  top: 15px;
  right: 15px;
  background-color: black;
  opacity: 0.8;
  padding: 5px 15px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  z-index: 3;
}

/* image */
.latestArticle-card .image-wrapper {
  height: 220px;
  border-radius: 20px 20px 0 0;
}
.latestArticle-card .image-wrapper .scaledImg {
  transition: all 0.3s;
}
/* content */
.latestArticle-card .content {
  padding: 20px 25px;
  flex: 1;
}

.latestArticle-card .content .meta {
  color: #737373;
  font-size: 14px;
  font-weight: 400;
}

.latestArticle-card h2 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 25px;
  transition: all 0.3s;
}

.latestArticle-card p {
  color: var(--text-color);
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  flex-grow: 1;
}

/* author data */
.latestArticle-card .author img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #333;
}

.latestArticle-card .author-info .name {
  font-weight: 500;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.latestArticle-card .author-info .role {
  font-weight: 400;
  color: #737373;
  font-size: 12px;
  line-height: 16px;
}

.latestArticle-card .bottom {
  border-top: 1px solid #1f1f1f;
}

.latestArticle-card .btn-arrow {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(255, 137, 4, 0.4);
  background-color: #24160b;
  color: #ff8904;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

/* Hover effect */
.latestArticle-card:hover {
  transform: translateY(-5px);
}
.latestArticle-card:hover .hoveredText {
  color: #f97200;
}
.latestArticle-card:hover .scaledImg {
  transform: scale(1.05);
}
.latestArticle-card:hover .btn-arrow {
  background-color: rgba(255, 111, 0, 1);
  color: white;
  border-color: rgba(255, 111, 0, 1);
}

/* page Number Filtration */
.pageNumBtns .btn {
  background-color: #161616;
  color: var(--text-color);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  border: 1px solid #1f1f1f;
  padding: 12px 20px;
  border-radius: 12px;
  transition: all 0.3s;
}

.pageNumBtns .btn.active {
  background: #ff6600;
  background: linear-gradient(90deg, rgba(255, 102, 0, 1) 39%, rgba(246, 75, 0, 1) 73%);
  color: white;
}
.filterPage {
  border-bottom: 1px solid #1f1f1f;
}
.filterPage span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #737373;
}

.pageNumBtns .btn:hover {
  border-color: rgba(255, 137, 4, 0.4);
}

/* List View: */
