.grayText {
  color: #737373;
}

/* Badge Style: */
.badge {
  background-color: #2f1b0a;
  color: #d4d4d4;
  padding: 0.4375rem 1.0625rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  border: 0.0625rem solid rgba(255, 137, 4, 0.4);
  border-radius: 1.25rem;
  width: fit-content;
  color: #ff6900;
}

.badge .icon {
  color: #ff6900;
  font-size: 0.4375rem;
  animation: pulse 2s infinite;
  position: relative;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

/* ^Background Style */
.hero-bg {
  position: relative;
  background-color: #0b0b0b;
  /* overflow: hidden; */
  text-align: center;
}

.hero-bg::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.04) 0.0625rem, transparent 0.0625rem),
    linear-gradient(90deg, rgba(255, 255, 255, 0.04) 0.0625rem, transparent 0.0625rem);
  background-size: 3.75rem 3.75rem;
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 3;
  color: white;
  max-width: 40rem;
  text-align: center;
  margin-top: 6.875rem;
}

/* ^Shadow style */
.shadow1 {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 18.75rem;
  height: 18.75rem;
  background-color: #211209;
  border-radius: 50%;
  filter: blur(3.125rem);
}

.shadow2 {
  position: absolute;
  bottom: 10%;
  right: 30%;
  width: 24rem;
  height: 24rem;
  background-color: rgba(253, 224, 71, 0.05);
  border-radius: 50%;
  filter: blur(3.125rem);
  animation-delay: -2s;
}

/* ^ Content Style */
.hero-content h1 {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 3.75rem;
}

.hero-content h1 .coloredText {
  background: #f9911b;
  background: linear-gradient(
    90deg,
    rgba(249, 145, 27, 1) 8%,
    rgba(250, 152, 29, 1) 46%,
    rgba(250, 168, 32, 1) 94%
  );
  background-clip: text;
  color: transparent;
}

.hero-content .numOfArticles {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.latestArticles {
  background: #0a0a0a;
}

/* Search: */
.search-wrapper {
  position: relative;
  width: 18.75rem;
}

.search {
  background: #161616;
  border: 0.0625rem solid #222;
  color: #fff;
  padding: 0.75rem;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  padding-left: 2.5rem;
}
.search-icon {
  position: absolute;
  left: 0.9375rem;
  top: 50%;
  transform: translateY(-50%);
  color: #737373;
  font-size: 1rem;
  pointer-events: none;
}
.search:focus {
  border-color: #ff6600;
  outline: none;
  box-shadow: 0 0 0.5rem rgba(255, 102, 0, 0.5);
}
.search::placeholder {
  color: #737373;
  font-size: 1rem;
}

/* Filtration */
.filterBtns .btn {
  background-color: #161616;
  color: var(--text-color);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  border: 0.0625rem solid #1f1f1f;
  padding: 0.5625rem 0.875rem;
  border-radius: 0.75rem;
  transition: all 0.3s;
}

.filterBtns .btn.active {
  background: #ff6600;
  background: linear-gradient(90deg, rgba(255, 102, 0, 1) 39%, rgba(246, 75, 0, 1) 73%);
  color: white;
}

.filterBtns .btn:hover {
  border-color: rgba(255, 137, 4, 0.4);
}

/* line */
.top {
  border-bottom: 0.0625rem solid #1f1f1f;
}

/* num of Articles */
.header .numOfArticles {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--text-color);
}

.header .numOfArticles span {
  color: white;
}
.header .numOfArticles .highlightedText {
  color: #f97200;
  font-weight: 700;
  font-size: 1rem;
}

/* toggle icons */
.view-toggle {
  background-color: #161616;
  padding: 0.4375rem;
  border-radius: 0.625rem;
  color: var(--text-color);
  font-size: 1.125rem;
  border: 0.0625rem solid #1f1f1f;
}

.view-toggle div {
  padding: 0.4375rem;
  border-radius: 0.3125rem;
  transition: all 0.3s;
}
.view-toggle div:hover {
  color: white;
}
.view-toggle div.active {
  background: #ff6600;
  background: linear-gradient(90deg, rgba(255, 102, 0, 1) 39%, rgba(246, 75, 0, 1) 73%);
  color: white;
}

/* ~ Latest Articles Content */
.latestArticle-card {
  background-color: #161616;
  border: 0.0625rem solid #1f1f1f;
  border-radius: 1.25rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.latestArticle-card .article-type {
  top: 0.9375rem;
  right: 0.9375rem;
  background-color: black;
  opacity: 0.8;
  padding: 0.3125rem 0.9375rem;
  border-radius: 0.9375rem;
  font-weight: 600;
  font-size: 0.75rem;
  color: #fff;
  z-index: 3;
}

/* image */
.latestArticle-card .image-wrapper {
  height: 13.75rem;
  border-radius: 1.25rem 1.25rem 0 0;
  overflow: hidden;
}
.latestArticle-card .image-wrapper .scaledImg {
  transition: all 0.3s;
}
/* content */
.latestArticle-card .content {
  padding: 1.25rem 1.5625rem;
  flex: 1;
}

.latestArticle-card .content .meta {
  color: #737373;
  font-size: 0.875rem;
  font-weight: 400;
}

.latestArticle-card h2 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.5625rem;
  transition: all 0.3s;
}

.latestArticle-card p {
  color: var(--text-color);
  font-size: 0.875rem;
  line-height: 1.4375rem;
  font-weight: 400;
  flex-grow: 1;
}

/* author data */
.latestArticle-card .author img {
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  object-fit: cover;
  border: 0.0625rem solid #333;
}

.latestArticle-card .author-info .name {
  font-weight: 500;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.latestArticle-card .author-info .role {
  font-weight: 400;
  color: #737373;
  font-size: 0.75rem;
  line-height: 1rem;
}

.latestArticle-card .bottom {
  border-top: 0.0625rem solid #1f1f1f;
}

.latestArticle-card .btn-arrow {
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  border: 0.0625rem solid rgba(255, 137, 4, 0.4);
  background-color: #24160b;
  color: #ff8904;
  font-size: 0.875rem;
  transition: background-color 0.3s ease;
}

/* Hover effect */
.latestArticle-card:hover {
  transform: translateY(-0.3125rem);
}
.latestArticle-card:hover .hoveredText {
  color: #f97200;
}
.latestArticle-card:hover .scaledImg {
  transform: scale(1.05);
}
.latestArticle-card:hover .btn-arrow {
  background-color: rgba(255, 111, 0, 1);
  color: white;
  border-color: rgba(255, 111, 0, 1);
}

/* page Number Filtration */
.pageNumBtns .btn {
  background-color: #161616;
  color: var(--text-color);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  border: 0.0625rem solid #1f1f1f;
  padding: 0.75rem 1.25rem;
  border-radius: 0.75rem;
  transition: all 0.3s;
}

.pageNumBtns .btn.active {
  background: #ff6600;
  background: linear-gradient(90deg, rgba(255, 102, 0, 1) 39%, rgba(246, 75, 0, 1) 73%);
  color: white;
}
.filterPage {
  border-bottom: 0.0625rem solid #1f1f1f;
}
.filterPage span {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #737373;
}

.pageNumBtns .btn:hover {
  border-color: rgba(255, 137, 4, 0.4);
}

/* !============Media Queries============ */
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .filterBtns {
    justify-content: center;
    gap: 10px;
  }

  .pageNumBtns .numbtn {
    display: none;
  }

  .hero-content {
    max-width: 90%;
    margin-top: 4rem;
    padding: 0 1rem;
  }

  .hero-content h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .shadow1,
  .shadow2 {
    width: 12rem;
    height: 12rem;
    filter: blur(2rem);
  }

  .hero-bg::after {
    background-size: 2rem 2rem;
  }

  /* Cards */
  .latestArticle-card .image-wrapper {
    height: 12rem;
  }

  .latestArticle-card .content {
    padding: 1rem;
  }

  .latestArticle-card h2 {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .latestArticle-card p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  /* Toggle icons smaller */
  .view-toggle {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
}
