/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #ff8904cc;
  --bg-color: #161616;
  --text-color: #a1a1a1;
  --text-white: #fff;
}
body {
  font-family: 'Tajawal', sans-serif;
}

a {
  color: inherit;
  font-style: inherit;
}

.container {
  width: 82%;
}

/* Selection */
::selection {
  background-color: #f97316;
  color: #fff;
}

/* Scroll */
::-webkit-scrollbar {
  width: 12px;
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #161616;
  border-radius: 8px;
  border: 3px solid #000;
  transition: all 1s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff8904;
}
::-webkit-scrollbar-track {
  background-color: #000;
  border-radius: 8px;
}
